.site-counter-logs-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(228, 239, 244, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: auto;
    margin: 0;
    box-sizing: border-box;
}

.site-counter-logs-box * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site-counter-logs-title {
    text-align: center;
    padding: 10px 5px;
    position: relative;
    background: #fff;
    border-radius: 8px 8px 0 0;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-counter-logs-title .title-content {
    display: flex;
    align-items: center;
    max-width: calc(100% - 80px);
}

.site-counter-logs-title .title-content .logs-date {
    padding: 0 3px;
}

.site-counter-logs-title .title-content .ip {
    padding-left: 3px;
}

.site-counter-logs-title .title-content  .other-page-title {
    display: flex;
    overflow: hidden;
}

.site-counter-logs-title .title-content  .other-page-title .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.site-counter-logs-close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

@media (any-hover: hover) {
    .site-counter-logs-close-btn:hover {
        background: #d32f2f;
    }
}

.site-counter-logs-box table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: #fff;
}

.site-counter-logs-box table th,
.site-counter-logs-box table td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

.site-counter-logs-box table th {
    background-color: #4CAF50;
    color: white;
    min-width: 100px;
    position: sticky;
    top: 0;
}

.site-counter-logs-box table th:nth-child(1),
.site-counter-logs-box table td:nth-child(1) {
    width: 70px;
}

.site-counter-logs-box table th:nth-child(2),
.site-counter-logs-box table td:nth-child(2) {
    width: 220px;
}

.site-counter-logs-box table th:nth-child(3),
.site-counter-logs-box table td:nth-child(3) {
    width: 150px;
}

.site-counter-logs-box table th:nth-child(4),
.site-counter-logs-box table td:nth-child(4) {
    width: 230px;
}

.site-counter-logs-box table tbody {
    display: block;
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    width: 100%;
}

.site-counter-logs-box table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.site-counter-logs-box table tr:nth-child(odd) {
    background-color: #f3f6f7;
}

.site-counter-logs-box table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.site-counter-logs-box table .site-counter-logs-table-tfoot tr {
    position: relative;
    background-color: #fff;
    border: none;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.site-counter-logs-table-tfoot td .load-more-btn {
    background: none;
    color: #6d9296;
    position: absolute;
    right: 14px;
}

@media (any-hover: hover) {
    .site-counter-logs-box table tr:hover {
        background-color: #0b8ddd;
    }

    .site-counter-logs-box table .site-counter-logs-table-tfoot tr:hover {
        background-color: #fff;
    }

    .site-counter-logs-table-tfoot td .load-more-btn:hover {
        background: none;
        color: #0097a7;
    }
}


/* 响应式设计 */
@media (max-width: 960px) {
    .site-counter-logs-box {
        padding: 0;
    }

    .site-counter-logs-title .title-content {
        font-size: 17px;
    }

    .site-counter-logs-title .title-content .other-page-title {
        width: 0;
        /* padding-left: 5px; */
        opacity: 1;
    }

    .site-counter-logs-table-thead {
        display: none;
    }

    .site-counter-logs-box table tbody {
        max-height: calc(100vh - 100px);
    }

    .site-counter-logs-box table tr {
        border: 2px solid #ddd;
        margin: 10px 0;
    }

    .site-counter-logs-table-tbody tr:first-child {
        margin-top: 0;
    }
   
    @media (any-hover: hover) {
        .site-counter-logs-box table tr:hover {
            background-color: #9dbcca;
        }
    
        .site-counter-logs-box table tr:hover,
        .site-counter-logs-box table tr:hover td {
            border-color: #9ab0ba;
        }
    }

    .site-counter-logs-box table td {
        width: 100% !important;
        border: none;
        border-bottom: 2px solid #ddd;
        position: relative;
        padding-left: 25%;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        min-height: 40px;
        align-items: center; /* 垂直居中 */
    }

    .site-counter-logs-box table tfoot td {
        justify-content: center;
        padding-left: 8px;
    }

    .site-counter-logs-box table tr td:last-child {
        border-bottom: 0px;
    }

    .site-counter-logs-box table td:nth-child(5) {
        text-align: end;
    }

    .site-counter-logs-box table td:nth-child(6) {
        display: block;
        text-align: end;
    }

    .site-counter-logs-box table td:before {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
        text-align: left;
    }
}